@use "@/common/scss/media-queries" as *;

// -- Variables --

$about-section-padding-y: 4rem;
$about-section-padding-x: 1rem;
$about-container-padding-left: 4rem;
$about-image-border-radius: 1rem;
$about-text-heading-font-size: 4rem;
$about-text-heading-font-size-sm: 2rem;
$about-text-paragraph-font-size: 1.6rem;
$about-image-max-width: 200px;
$about-image-max-height: 300px;
$about-image-wrapper-margin: 2rem;

// -- Mixins --

@mixin about-image-wrapper {
  overflow: hidden;
  border-radius: $about-image-border-radius;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: $about-image-wrapper-margin;
}

.about-section {
  padding: $about-section-padding-y $about-section-padding-x;
  background: var(--about-page-background);
  width: 100%;
  min-height: 100vh; // Changed to min-height

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between; // Changed to space-between
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1200px; // Added max-width
    margin: 0 auto;
    padding-left: $about-container-padding-left;

    @include sm {
      flex-direction: column;
      text-align: center;
      padding-left: 0;
    }

    .presentation-text {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: $about-text-heading-font-size;
        color: var(--text-secondary);
        font-family: var(--font-family-title);

        @include sm {
          font-size: $about-text-heading-font-size-sm;
        }
      }

      p {
        font-size: $about-text-paragraph-font-size;
      }
    }
  }

  .image-wrapper {
    @include about-image-wrapper;

    img {
      display: block;
      width: 100%;
      height: auto;
      transition: filter 0.5s ease, transform 0.5s ease;
      filter: grayscale(100%);
    }

    &:hover img {
      filter: grayscale(0%);
      transform: scale(1.02);
    }
  }

  .about-image {
    // Moved styles to .image-wrapper
    display: none; // Hide original .about-image
  }
}
