@use "../../common/scss/media-queries" as *;

.about-section {
  padding: 4rem 1rem;
  background: var(--about-page-background); // À définir dans tes variables
  width: 100%;
  height: 100%;
  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    // gap: 4rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 4rem;

    @include sm {
      flex-direction: column;
      text-align: center;
    }
    .presentation-text {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 200px;
      max-height: 300px; // Limite la hauteur maximale
      height: auto;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      object-fit: cover;
    }
  }
}

.image-wrapper {
  display: inline-block;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem;

  img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.5s ease, transform 0.5s ease;
    filter: grayscale(100%);
  }

  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.02);
  }
}
