@use "@/common/scss/media-queries" as *;
@use "@/common/scss/buttons" as *;

.contact-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
  padding: 6rem 4rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--contact-page-background);
  @include sm {
    flex-direction: column-reverse;
    padding: 3rem 2rem;
  }
  .contact-form {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 4rem;
      color: var(--text-secondary);
      font-family: var(--font-family-title);
      @include sm {
        font-size: 2rem;
      }
    }

    p {
      color: var(--text-secondary);
      font-size: 1.6rem;
      line-height: 1.6;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      input,
      textarea {
        padding: 1.2rem 1.5rem;
        border: 1px solid var(--border-color);
        background-color: var(--bg-secondary);
        color: var(--text-primary);
        border-radius: 0.5rem;
        font-size: 1.6rem;
        width: 100%;
      }

      textarea {
        resize: none;
        min-height: 12rem;
      }
    }
  }

  .contact-image {
    flex-shrink: 0;

    img {
      width: 50rem;
      height: 50rem;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 2rem var(--box-shadow-color);
      @include sm {
        width: 25rem;
        height: 25rem;
      }
    }
  }
}
