@use "@/common/scss/buttons" as *;
@use "@/common/scss/keyframes" as *;
@use "@/common/scss/media-queries" as *;

// -- Variables --

// Sizes & Spacing
$home-hero-image-max-width: 45rem;
$home-hero-image-max-width-sm: 30rem;
$home-hero-image-margin: 2rem;
$home-title-font-size: 4rem;
$home-title-font-size-sm: 3rem;
$home-subtitle-font-size: 2.5rem;
$home-subtitle-font-size-sm: 2rem;
$home-intro-font-size: 1.6rem;
$home-intro-font-size-sm: 1.4rem;
$home-intro-padding: 1rem;
$home-intro-line-height: 1.6;

// Colors
$home-text-color: var(--text-secondary);

// Animation
$home-transition-duration: 0.3s;
$home-transition-function: ease;

// -- Mixins --

// Flexbox centering
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -- Home Page Styles --

.home {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  @include flex-centered; // Using mixin
  text-align: center;
  background: var(--home-page-background);

  .hero {
    .hero-image-container {
      .hero-image {
        max-width: $home-hero-image-max-width;
        width: 90%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: $home-hero-image-margin;
        box-shadow: 0 0 2rem var(--box-shadow-color);
        transition: transform $home-transition-duration
          $home-transition-function;

        &:hover {
          animation: spin 10s ease-out infinite alternate;
        }

        @include sm {
          max-width: $home-hero-image-max-width-sm;
        }
      }
    }

    .hero-content {
      animation: fadeInUp 2s ease-out forwards;
      font-family: var(--font-family-title);

      .hero-title {
        font-size: $home-title-font-size;
        color: $home-text-color;
        margin-bottom: 1.6rem;

        @include sm {
          font-size: $home-title-font-size-sm;
        }
      }

      .hero-subtitle {
        font-size: $home-subtitle-font-size;
        color: $home-text-color;

        @include sm {
          font-size: $home-subtitle-font-size-sm;
        }
      }
    }
  }

  .intro {
    animation: fadeInUp 3s ease-out forwards;

    p {
      font-size: $home-intro-font-size;
      color: $home-text-color;
      padding: $home-intro-padding;
      line-height: $home-intro-line-height;

      @include sm {
        font-size: $home-intro-font-size-sm;
      }
    }
  }
}
