.btn {
  // display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  &-explore {
    margin: 2rem;
    text-transform: uppercase;
    background-color: var(--accent-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
      background-color: var(--accent-hover);
      transform: translateY(-1px);
    }
  }
}
