[data-theme="light"] {
  --bg-primary: #f0f0f2;
  --bg-secondary: #e2e2e5;
  --bg-elevated: #d4d4d8;

  --text-primary: #3d424b; /* Gris foncé, mais doux */
  --text-secondary: #6e7781;

  --accent-color: #5f9ea0; /* Bleu verdâtre clair */
  --accent-hover: #7bb5b7;

  --border-color: #b0bec5;

  --home-page-background: linear-gradient(
    45deg,
    #f2f2f4,
    /* Bleu pâle */ #f0f0f2 /* Blanc cassé */
  );

  --gallery-page-background: radial-gradient(
    circle,
    #f5f5f7,
    /* Blanc cassé */ #e7e7e9,
    /* Gris très doux */ rgba(230, 230, 230, 0.6),
    /* gris */ #f0f0f2 /* Gris clair */
  );

  --about-page-background: linear-gradient(
    135deg,
    #f3f4f5,
    /* gris chaud*/ #f0f0f2 /* Blanc cassé */
  );

  --contact-page-background: linear-gradient(
    135deg,
    #f5f0f3,
    /* gris froid*/ #f0f0f2 /* Blanc cassé */
  );
}
