[data-theme="dark"] {
  --bg-primary: #2a2e35; /* Gris plus profond, plus neutre */
  --bg-secondary: #3b424e;
  --bg-elevated: #4c525f;

  --text-primary: #dcdde1; /* Gris très clair, meilleure lisibilité */
  --text-secondary: #9aa0a6; /* Gris clair, neutre */

  --accent-color: #55a6d3; /* Bleu plus doux */
  --accent-hover: #7db1d9;

  --border-color: #5d6673;

  --home-page-background: linear-gradient(
    /* Gradient linéaire */ 45deg,
    #3b4859,
    /* Bleu-gris sombre */ #323743 /* Gris profond */
  );

  --gallery-page-background: radial-gradient(
    /* Gradient radial plus doux */ circle,
    rgba(40, 43, 48, 0.7) 0%,
    /* Noir très transparent */ rgba(54, 58, 66, 0.3) 15%,
    /* Gris plus doux */ rgba(67, 73, 83, 0.15) 30%,
    /* gris doux */ #2a2e35 80% /* Bleu */
  );

  --about-page-background: linear-gradient(
    135deg,
    rgba(51, 47, 56, 0.4) 0%,
    /* Violet */ rgba(43, 38, 48, 0.2) 50%,
    /* Gris foncé */ #2a2e35 100% /* Noir */
  );

  --contact-page-background: linear-gradient(
    135deg,
    #4a545e,
    /* gris chaud*/ #2a2e35 /* Noir */
  );
}
