[data-theme="light"] {
  --bg-primary: #f6f9fa;
  --bg-secondary: #e4eef1;
  --bg-elevated: #d4e4e7;

  --text-primary: #333333;
  --text-secondary: #66727a;

  --accent-color: #3c8ca4;
  --accent-hover: #58a9c0;

  --border-color: #3e4a52;

  --box-shadow-color: rgba(0, 0, 0, 0.4);

  --home-page-background: radial-gradient(
    circle at center,
    #d8eef2 0%,
    #9cc4d8 40%,
    var(--bg-primary) 100%
  );

  --contact-page-background: linear-gradient(
    135deg,
    #ffe1e7 0%,
    /* rosé pastel */ #ffd6ae 35%,
    /* orange abricoté */ #b2d4f2 70%,
    /* bleu ciel doux */ var(--bg-primary) 100%
  );
}
