[data-theme="dark"] {
  --bg-primary: #3f464c; // gris doux avec une pointe de bleu
  --bg-secondary: #50585f; // légèrement plus clair pour les blocs
  --bg-elevated: #616b74; // pour cartes ou modals
  --text-primary: #f0f2f4; // blanc cassé
  --text-secondary: #737d87; // gris clair lisible
  --accent-color: #4db0c8; // bleu pastel (cohérent avec le halo)
  --accent-hover: #69c3dc;

  --border-color: #5e6870; // discret mais visible

  --home-page-background: radial-gradient(
    circle at center,
    #d8eef2 0%,
    #9cc4d8 40%,
    var(--bg-primary) 100%
  );

  --about-page-background: radial-gradient(
    circle at center,
    rgba(229, 231, 88, 0.1) 0%,
    rgba(107, 96, 157, 0.3) 40%,
    rgba(62, 57, 104, 0.5) 70%,
    var(--bg-primary) 100%
  );

  --contact-page-background: linear-gradient(
    135deg,
    #9b5c6b 0%,
    /* rosé prune doux */ #b97b5a 35%,
    /* orange pêche cuivrée claire */ #688aa0 70%,
    /* bleu-gris lumineux mais sourd */ var(--bg-primary) 100%
  );
}
