[data-theme="light"] {
  --bg-primary: #f6f9fa;
  --bg-secondary: #e4eef1;
  --bg-elevated: #d4e4e7;

  --text-primary: #333333;
  --text-secondary: #66727a;

  --accent-color: #3c8ca4;
  --accent-hover: #58a9c0;

  --border-color: #cbd5da;

  --box-shadow-color: rgba(0, 0, 0, 0.4);
}
