@use "./common/scss/reset" as *;
@use "./common/scss/base" as *;
@use "./common/scss/media-queries" as *;
@use "./common/scss/theme/theme-dark" as *;
@use "./common/scss/theme/theme-light" as *;
@use "./common/scss/theme/theme-common" as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--bg-primary);

    .logo {
      font-size: 3rem;
      font-family: var(--font-family);
      color: var(--text-primary);
    }

    .top-nav {
      display: flex;
      align-items: center;
      gap: 2rem;

      ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
          font-size: 2rem;
          display: flex;
          align-items: center;
          padding: 1.2rem 2rem;
          color: var(--text-secondary);
          text-decoration: none;
          transition: all var(--transition-speed);

          &:hover,
          &.active {
            background: var(--bg-elevated);
            color: var(--accent-color);
            border-bottom: 0.4rem solid var(--accent-color);
          }
        }
      }
      .toggle-container {
        border: 0;
        #theme-toggle {
          display: flex;
          align-items: center;
          background: none;
          border: 0;
          outline: none;
          font-size: 1.6rem;
          cursor: pointer;
          color: var(--text-secondary);
          transition: color var(--transition-speed);

          &:hover {
            color: var(--accent-color);
          }

          &:focus {
            outline: none;
          }

          i {
            pointer-events: none;
            border: none;
            outline: none;
          }
        }
      }
    }
  }
  .page-content {
    flex: 1;
  }

  .site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    font-size: 1.4rem;
  }
}
