@use "./common/scss/reset" as *;
@use "./common/scss/base" as *;
@use "./common/scss/media-queries" as *;
@use "./common/scss/theme/theme-dark" as *;
@use "./common/scss/theme/theme-light" as *;
@use "./common/scss/theme/theme-common" as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--bg-primary);

    .logo {
      display: flex;
      flex-direction: center;
      align-items: center;
      img {
        width: 8rem;
        height: 8rem;
        @include sm {
          width: 7rem;
          height: 7rem;
        }
      }
    }

    .top-nav {
      display: flex;
      align-items: center;
      gap: 2rem;

      .menu-list {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
          font-size: 2rem;
          display: flex;
          align-items: center;
          padding: 1.2rem 2rem;
          color: var(--text-secondary);
          text-decoration: none;
          transition: all var(--transition-speed);

          &:hover,
          &.active {
            background: var(--bg-elevated);
            color: var(--accent-color);
            border-bottom: 0.4rem solid var(--accent-color);
          }
          @include sm {
            display: none;
          }
        }
      }
      .button-container {
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .theme-toggle {
          padding: 0.5rem;
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          background: none;
          border: 0;
          outline: none;
          font-size: 3rem;
          cursor: pointer;
          color: var(--text-secondary);
          transition: color var(--transition-speed);

          &:hover {
            color: var(--accent-color);
          }

          &:focus {
            outline: none;
          }

          i {
            pointer-events: none;
            border: none;
            outline: none;
          }
        }
        .menu-icon {
          padding: 0.5rem;
          margin-left: 0.5rem;
          display: none;
          font-size: 4rem;
          align-items: center;
          background: none;
          border: 0;
          outline: none;
          font-size: 2rem;
          cursor: pointer;
          color: var(--text-secondary);
          transition: color var(--transition-speed);

          &:hover {
            color: var(--accent-color);
          }

          &:focus {
            outline: none;
          }

          i {
            pointer-events: none;
            border: none;
            outline: none;
          }
          @include sm {
            display: block;
          }
        }
      }
    }
  }
  .mobile-menu {
    display: none;
    &.active {
      width: 100%;
      display: flex;
      justify-content: center;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 1rem 0 1rem 0;
        margin: 0rem;
        li {
          a {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            color: var(--text-secondary);
            text-decoration: none;
            transition: all var(--transition-speed);

            &:hover,
            &.active {
              font-weight: 700;
              color: var(--accent-color);
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .page-content {
    flex: 1;
  }

  .site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    font-size: 1.4rem;
  }
}
